{{>layout/header}}

<h1>스프링 부트로 시작하는 웹 서비스</h1>

<div class="col-md-12">
    <!-- 로그인 기능 영역 -->
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
            {{#userName}}
                Logged in as: <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
            {{/userName}}
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/posts/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>

    <!-- pagination -->
    <nav aria-label="Page navigation">
        <ul class="pagination pagination-md justify-content-center">
            <li class="page-item"><a class="page-link" href="/?page={{firstPage}}">First</a></li>
            <li class="page-item"><a class="page-link" href="/?page={{prevPage}}">Previous</a></li>
            {{#pageList}}
                {{#isSelected}}
                    <li class="page-item active" aria-current="page"><a class="page-link" href="/?page={{pageNumber}}">{{pageNumber}}</a></li>
                {{/isSelected}}
                {{^isSelected}}
                    <li class="page-item"><a class="page-link" href="/?page={{pageNumber}}">{{pageNumber}}</a></li>
                {{/isSelected}}
            {{/pageList}}
            <li class="page-item"><a class="page-link" href="/?page={{nextPage}}">Next</a></li>
            <li class="page-item"><a class="page-link" href="/?page={{lastPage}}">Last</a></li>
        </ul>
    </nav>
</div>

{{>layout/footer}}